<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${entry.name}"></title>
</head>
<body>

<div layout:fragment="content">

  <div id="main" th:data-background="${entry.image}" th:style="'width: 100vw; height: 100vh; background: url(/uploads/entries/' + ${entry.image} + ') center center / cover no-repeat fixed;'">
    <div class="landing-text">
      <h1 th:text="${entry.name}"></h1>
      <h3></h3>
    </div>
  </div>
  <div id="blog" class="padding">
    <div class="container">
      <div class="row mb-3">
        <div class="row">
          <div class="col-md-12 pl-5">
            <h4>
              <i class="fa fa-user"></i> Written by <span th:text="${entry.user.name}"></span>
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pl-5">
          <h1 th:text="${entry.name}"></h1><br>
          <p th:text="${entry.description}"></p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>