<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
	<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<div id="home" style="width: 100vw; height: 100vh;">
		<div class="landing-text">
			<h1>Benito's Blog</h1>
			<h3>Welcome to my personal Blog</h3>
		</div>
	</div>
	<div id="blog" class="padding">
		<div class="container">
			<div class="row mb-5">
				<div th:each="entry: ${entries}" class="col-sm-6">
					<h2 class="text-left" th:text="${entry.name}"></h2>
					<img th:src="@{/uploads/entries/{image}(image=${entry.image})}" th:alt="${entry.name}" width="100%">
					<br><br>
					<p th:text="${entry.shortDescription}"></p>
					<a th:href="@{/blog/{slug}(slug=${entry.slug})}" class="btn btn-primary">Read</a>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>