<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Benito's Personal Blog</title>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/icon.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/icon.png}">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/assets/css/app.css}">
	<style>
		.error-field {
            color: red;
        }
	</style>
</head>
<body>
<div id="app">
	<nav id="navbar" class="navbar navbar-default navbar-fixed-top" rol="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a th:href="@{/}" id="navbar-brand" class="navbar-brand">
					<img th:src="@{/assets/images/logo.png}" height="70px" alt="Benito's Logo">
					Benito's Personal Blog
				</a>
			</div>
			<div>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}">Login</a>
						<a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/home}">Go to Admin panel</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div layout:fragment="content"></div>
	<footer class="container-fluid d-flex justify-content-center">
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
				<img th:src="@{/assets/images/logo.png}"  height="70px" alt="Benito's Logo">
			</div>
			<div class="col-lg-12 d-flex justify-content-center">
				<b>© 2023 Benito Huerta</b>
			</div>
		</div>
	</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/assets/js/smooth_scroll.js}"></script>
</body>
</html>